.main-container {
  display: grid;

  grid-gap: 8px;
  color: #fff;
  background-color: #111111;
  height: 100%;
}

header {
  align-self: baseline;
  display: grid;
  grid-gap: 8px;
  color: #fff;
  grid-template-columns: 0.25fr 1fr;
  align-items: center;
  padding: 16px;
}

header img {
  max-width: 50px;
}

header h1 {
  font-size: 18px;
  justify-self: baseline;
}

nav {
  display: grid;
  height: 100%;
  padding: 0px 16px;
}

nav a {
  height: 25px;
  max-width: 100%;
  background-color: #282828;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  align-items: center;
  display: grid;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

.App {
  text-align: center;
  height: 100%;
}

@media screen and (min-height: 813px) {
  .main-container {
    grid-template-rows: 0.75fr 4fr;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    grid-template-columns: 0.75fr 4fr;
    grid-template-rows: none;
  }
}
