.login-container {
  color: #fff;
  background-color: #282828;
  width: 80%;
  margin: 15% auto;
  padding: 32px;
  border-radius: 8px;
}

.login-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 26.25px;
}

.spotify-logo-login {
  max-width: 25%;
  margin-right: 26.25px;
}

@media screen and (min-width: 768px) {
  .login-container {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .login-container {
    width: 30%;
  }
}
